footer h3 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  font-family: "Macondo", cursive;
}

footer h3::after {
  background-color: red;
  content: "";
  display: block;
  height: 7px;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 10px;
  width: 60px;
}

footer p {
  color: #999;
}

.sci li {
  list-style: none;
}
.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #e3dede;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: #f00;
}

.sci li a .fa {
  color: #fff;
  font-size: 20px;
}

/* div of History image + text in the footer   */

.About-us2 {
  font-family: "Macondo", cursive;
}

/* CONTACTEZ-NOUS */

.CONTACTEZ-NOUS {
  @apply mr-10 gap-y-3;
}

.CONTACTEZ-NOUS div {
  @apply flex justify-start items-center text-white border-2 border-red-700 h-20;
}

.CONTACTEZ-NOUS div:not(:last-child) span:last-child {
  @apply ms-7;
}

/* footer {
  @apply fixed bottom-0;
} */

/* this is for hover on the links footer  */

.onHovLink ul {
  @apply flex flex-col space-y-2;
}
